@font-face {
    font-family: 'Arial';
}
html,
body {
    height: 100%;
    margin: 0;
	padding: 0;
	overflow: hidden;
    font-family: 'PressStart2P', sans-serif;
    color: white;
    text-align: center;
    background-color: black;
}
#left_side {
    background-color: black;
    width: 50%;
    float: left;
}
#action_container {
    height: 100%;
    width: 50%;
    float: left;
}
#action1 {
    height: 50%;
}
#action2 {
    height: 50%;
}
.action_label {
    margin: auto;
    position: relative;
    top: 50%;
    width: 50%;
    height: 50%;
}
#inventory_container {
    height: 100%;
    width: 50%;
    float: right;
}
.inventory_item {
	height: 25%;
    height: 23vh;
	border: 1px solid black;
    border: 1vh solid black;
}
.inventory_label {
    margin: auto;
    position: relative;
    top: 50%;
    width: 50%;
    height: 50%;
}
#right_side {
    width: 50%;
    float: right;
    background-color: black;
}
#upper_right {
    height: 20%;
    width: 100%;
    float: right;
    background-color: black;
}
#lower_right {
    height: 80%;
    width: 100%;
    float: right;
    background-color: black;
}
#please_wait {
    width: 100%;
    height: 100%;
    background-color: black;
	text-align: center;
}
#please_wait p {
	margin: 40px 0;
	margin: 40vh 0;
	font-size: 22px;
    font-size: 10vh;
}
.focus_button {
	background-image: url('btn_focus.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #222;
    position: relative;
    margin-top: -6px;
}
.focus_button.active {
	background-image: url('btn_focus_active.png');
}
.focus_button_label {
    margin: auto;
    position: relative;
    width: 50%;
    top: 50%;
    margin-top: -6px;
    font-size:2.0vw;
    float:center;
}
.arrow,
.button {
    display: inline-block;
    height: 33%;
    width: 100%;
    position: relative;
}
.button {
	background-image: url('btn_action.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.button.active {
	background-image: url('btn_action_active.png');
}
.arrowL {
	background-image: url('btn_left.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.arrowL.active {
	background-image: url('btn_left_active.png');
}
.arrowU {
	background-image: url('btn_up.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.arrowU.active {
	background-image: url('btn_up_active.png');
}
.arrowD {
	background-image: url('btn_down.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.arrowD.active {
	background-image: url('btn_down_active.png');
}
.arrowR {
	background-image: url('btn_right.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.arrowR.active {
	background-image: url('btn_right_active.png');
}
.container {
    float: left;
    height: 100%;
    width: 33%;
    position: relative;
}
.margin {
    height: 33%;
}
.color {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.button_label {
    margin: auto;
    position: relative;
    width: 50%;
    top: 50%;
    margin-top: -6px;
    float:center;
    font-size:3.0vw;
}
#player_id {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    margin-top: -8px;
    color: #777;
}